html,
body {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  text-decoration: none;
}

.button-class {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #8FBC8F;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 16px 32px;
  margin: 4px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.6s
  ;transition-property: opacity;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #00BFFF;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;


  z-index: 999;


  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #D0E68C;
  color: white;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: #483D8B;
  color: white ;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
  text-align: center;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  text-align: center;
}
